.app {
  display: flex;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;

}

.container-filter {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  max-height: 300px;
}